:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.content-container {
  text-align: center;
  padding: 0;
}

.content-container {
  padding: 100px 20px;
}
.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content-container h3 {
  font-size: 24;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mb-6 {
  margin-bottom: 24px !important;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.project-desciption {
  padding: 120px 60px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .project-description {
    padding: 40px 60px;
    text-align: center;
  }
  .row {
    align-items: center;
  }

  .content {
    padding: 0 60px;
  }
  .col {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .col-md-6 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .col-md-6 img {
    width: 80%;
    margin-bottom: 20px;
  }

  .col-md-6 h3 {
    font-size: 1.25rem;
  }

  .col-md-6 p {
    font-size: 0.95rem;
    max-width: 100%;
    margin: 0 auto;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
  object-fit: cover;
}

.col-md-6 img {
  max-width: 100%;
  height: auto;
  border-radius: 10%;
  object-fit: cover;
}

.col-md-6 h3 {
  margin-top: 15px;
  font-size: 1.5rem;
}

.col-md-6 p {
  margin-top: 10px;
  font-size: 1rem;
  color: gray;
  word-wrap: break-word;
  max-width: 85%;
  text-align: left;
}

.col-md-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}
