:root {
  --branding-color: #6c63ff;
  --branding-hover-color: #5a52e1;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Lato", sans-serif;
}

body {
  font-family: var(--default-font-family);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero,
.content-container {
  text-align: center;
  padding: 80px 20px;
  background: var(--secondary-color);
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #272142;
}

.hero h2,
.content-container h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.content {
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-description {
  padding: 40px 20px;
}

.content p {
  font-size: 14px;
}

.logo {
  max-height: 40px;
}

.btn-common {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 48px;
  font-family: var(--default-font-family);
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.btn-branding {
  background: var(--branding-color);
  color: white;
}

.btn-branding:hover {
  background: var(--branding-hover-color);
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  background: transparent;
}

.btn-branding-outline:hover {
  background: var(--branding-color);
  color: white;
}

nav {
  padding: 20px 0;
}

.nav-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: var(--branding-color);
}

.project-container .row {
  align-items: center;
}

footer {
  margin: 60px 0;
  display: block;
  unicode-bidi: isolate;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  padding: 10px 14px;
  border-radius: 50%;
  color: var(--branding-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}

/* Utility classes */
.text-center {
  text-align: center;
}

.mb-6 {
  margin-bottom: 24px !important;
}

.pb-5 {
  padding-bottom: 40px;
}
